{{- $api_key := getenv "PERISCOPE_EMBED_API_KEY" }}
<a class="external-link" href="https://app.periscopedata.com/app/gitlab/{{ .dashboard }}/?widget={{ .chart }}">Sisense↗</a>
{{ if $api_key }}
  {{- $path := printf "/api/embedded_dashboard?%s" (querify "data" (. | jsonify) | safeURL) }}
  {{- $signature := hmac "sha256" $api_key $path }}
  {{- $url := printf "https://www.periscopedata.com%s&signature=%s" $path $signature }}
  <iframe frameborder="0" width="100%" height="100%" style="min-height:300px;" src="{{ $url | safeURL }}" loading="lazy"></iframe>
{{ end }}
