<div class="td-content">
	<h1 class="display-2">{{ .Title }}</h1>
  {{ with .Params.description }}<div class="lead">{{ . | markdownify }}</div>{{ end }}

  <div class="td-byline mb-4">
    <div class="row justify-content-between">
			<div class="col">
        <time class="text-muted" datetime="{{  $.Date.Format "2006-01-02" }}">{{ $.Date.Format $.Site.Params.time_format_blog  }}</time>
        {{ partial "reading-time.html" . }}
      </div>
      {{ with .Params.author }}
      <div class="col">{{ partial "partials/gitlab/codeowner.html" . }}</div>
      {{ end }}
    </div>
	</div>

	<header class="article-meta">
		{{ partial "taxonomy_terms_article_wrapper.html" . }}
	</header>
	{{ .Content }}

	{{ partial "pager.html" . }}
</div>
