{{ if .Params.controlled_document -}}
    {{ if not .Params.controlled_document_banner_disabled -}}
<div class="alert alert-danger" role="alert">
<h4 class="alert-heading">This is a Controlled Document</h4>
    In line with GitLab’s regulatory obligations, changes to <a href="https://handbook.gitlab.com/handbook/security/controlled-document-procedure/">
    controlled documents</a> must be approved or merged by a code owner. All contributions are welcome and encouraged.
</div>
    {{ end -}}
{{ end -}}
